*.pyc
*.pyo
#.idea
*/*.idea
*.py,cover
.DS_Store
.pydevproject
sublime-project
.coverage
junit.xml
cover
core/.coverage
core/cover
__pycache__
test_reports.xml
coverage.xml
test_results.xml
<fdopen>
.ipynb_checkpoints
.ipynb
